@model MVCMascota.Models.Medico

@{
    ViewData["Title"] = "Detalles";
}

<h4><i class="fa-solid fa-user-doctor"></i> &nbsp;Detalles</h4>

<div>
    <h4>Veterinario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarjeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarjeta)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary table-btn" asp-action="Edit" asp-route-id="@Model?.MedicoId">
        <i class="fa-regular fa-pen-to-square"></i>&nbsp;Editar
    </a> &nbsp;&nbsp;
    <a class="btn btn-primary table-btn" asp-action="Index">
        <i class="fa-solid fa-rotate-left"></i>&nbsp;Regresar
    </a>
</div>
