@model MVCMascota.Models.Dueno

@{
    ViewData["Title"] = "Detalles Mascotas";
    var verificarlist = @Model.Mascota.Where(m => m.DuenoId == Model.DuenoId);

}

<h4><i class="fa-solid fa-user-shield"></i> &nbsp;Detalles</h4>

<div>
    <h4>Propietario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary table-btn" asp-action="Edit" asp-route-id="@Model?.DuenoId">
        <i class="fa-regular fa-pen-to-square"></i>&nbsp;Editar
    </a> &nbsp;&nbsp;
    <a class="btn btn-primary table-btn" asp-action="Index">
        <i class="fa-solid fa-rotate-left"></i>&nbsp;Regresar
    </a>
</div>

<hr />

@if (verificarlist.Count() > 0)
{

    <div>
        <h4 style=" color:green; ">
            <i class="fa-solid fa-paw"></i> &nbsp; Mascotas
        </h4>
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Color</th>
                    <th>Especie</th>
                    <th>Raza</th>
                    <th>Dueno id</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var mascota in verificarlist)
                {
                    <tr>
                        <td>@mascota.MascotaId </td>
                        <td>@mascota.Nombre </td>
                        <td>@mascota.Color </td>
                        <td>@mascota.Especie </td>
                        <td>@mascota.Raza </td>
                        <td>@mascota.DuenoId </td>
                        <td>
                            <a class="btn btn-info table-btn btn-sm" asp-action="Details" asp-controller="Mascota"
                        asp-route-id="@mascota.MascotaId">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

}
else
{
    <hr />
    <h3> El Propietario @Model.Nombres @Model.Apellidos no tiene mascotas registradas</h3>
}