@model MVCMascota.Models.Mascota

@{
    ViewData["Title"] = "Detalles";
}

<h4><i class="fa-solid fa-paw"></i> &nbsp;Detalles</h4>

<div>
    <h4>Mascota</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Raza)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Raza)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dueno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dueno.DuenoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.MedicoId)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary table-btn" asp-action="Edit" asp-route-id="@Model?.MascotaId">
        <i class="fa-regular fa-pen-to-square"></i>&nbsp;Editar
    </a> &nbsp;&nbsp;
    <a class="btn btn-primary table-btn" asp-action="Index">
        <i class="fa-solid fa-rotate-left"></i>&nbsp;Regresar
    </a>
</div>
